
<!-- app container -->
<div id="application" class="container opaque">
    <div id="titleRow" class="row">
        <h1 id="appTitle">{{title}}</h1>
        <div id="timer" class="col-md-8 col-md-offset-2">00:00:00:000</div>
    </div>
    <div id="controlRow" class="row">

        <div id="startStop" class="button col-md-2 col-md-offset-3" onclick="app.startStopTimer();">
            <div id="startStopLabel"></div>
            <!--<div id="startStopInstruction" class="instructions"></div>-->
        </div>

        <div id="clearLap" class="button col-md-2 col-md-offset-2" onclick="app.clearLapTimer();">
            <div id="clearLapLabel"></div>
            <!--<div id="clearLapInstruction" class="instructions"></div>-->
        </div>

    </div>
</div>
