
@import url(http://fonts.googleapis.com/css?family=Lobster|Titillium+Web|Luckiest+Guy|Oxygen|Satisfy|Rock+Salt|Architects+Daughter|Playball);

/*
	font-family: 'Dosis', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Indie Flower', cursive;
	font-family: 'Playball', cursive;
	font-family: 'Sigmar One', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Luckiest Guy', cursive;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Satisfy', cursive;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Bangers', cursive;
	font-family: 'Courgette', cursive;
	font-family: 'Rock Salt', cursive;
	font-family: 'Architects Daughter', cursive;
*/

body{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.row{ margin-top: 20px; }

div#timer,
div#startStop,
div#clear{
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	color: #333;
	border: solid 1px #666;
	padding: 20px 0;
	-webkit-box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.75);
	/*opacity: 0.9;*/
}

h1#appTitle{
	font-family: 'Lobster', cursive;
	text-align: center;
	color: #FFF;
	font-size: 12rem;
}

div#timer{
	font-size: 80px;
	text-align: center;
	text-shadow: 2px 2px #999;
	background: rgba(239, 239, 239, 0.9);
	font-size: 11rem;
}

div.button{
	font-size: 35px;
	text-align: center;
}

div#startStop{
	background: #009E1F;
	color: #EFEFEF;
}

div#clear{
	background: #B10000;
	color: #EFEFEF;
}






.button{
	cursor: pointer;
}

.instructions{
	font-size: 12px;
}

header {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}

div.sitead{
	text-align: center;
}




@media only screen and (max-width: 1100px) {

	h1#appTitle{ font-size: 10rem; }

	div#timer{ font-size: 9rem; }

}




@media only screen and (max-width: 800px) {

	h1#appTitle{ font-size: 8rem; }

	div#timer{ font-size: 7rem; }

}  



@media only screen and (max-width: 400px) {

	h1#appTitle{ font-size: 6rem; }

	div#timer{ font-size: 5rem; }

}
