@import url(http://fonts.googleapis.com/css?family=Lobster|Titillium+Web);

body{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #FFF;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}


header > nav,
div#application,
footer{
	-webkit-transition: opacity .8s ease 1s;
	-moz-transition: opacity .8s ease 1s;
	-o-transition: opacity .8s ease 1s;
	-ms-transition: opacity .8s ease 1s;
	transition: opacity .8s ease 1s;
}

div#progressbar{
	-webkit-transition: opacity .3s ease .8s;
	-moz-transition: opacity .3s ease .8s;
	-o-transition: opacity .3s ease .8s;
	-ms-transition: opacity .3s ease .8s;
	transition: opacity .3s ease .8s;
}

div#application{
	margin-bottom: 20px;
}

.opaque{
	opacity: 0;
}

div#progressbar{
    position: absolute;
    width: 100%;
}

div#progressbar div.loading{
	font-family: 'Lobster', cursive;
	text-shadow: 1px 1px 10px #666;
	text-align: center;
	color: #FFF;
	font-size: 5rem;
	margin-bottom: 10px;
}


.row{ margin-top: 20px; }

div#timer,
div#startStop,
div#clear{
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	color: #333;
	border: solid 1px #666;
	padding: 20px 0;
	-webkit-box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.75);
}

h1#appTitle{
	font-family: 'Lobster', cursive;
	text-shadow: 1px 1px #666;
	text-align: center;
	color: #FFF;
	font-size: 12rem;
}

div#timer{
	font-size: 80px;
	text-align: center;
	text-shadow: 2px 2px #999;
	background: rgba(239,239,239,0.9);
	font-size: 10rem;
}

div.button{
	font-size: 35px;
	text-align: center;
}

div#startStop{
	/*background: rgba(0,158,31,0.9);*/
	color: #EFEFEF;
}

div#clear{
	/*background: rgba(177,0,0,0.9);*/
	color: #EFEFEF;
}

.button{
	cursor: pointer;
}

.instructions{
	font-size: 12px;
}

header {
	/*background-color: rgba(255, 255, 255, 0.5);*/
	/*padding: 10px;*/
}

header div.social{
	float: left;
	margin-right: 3px;
}


div#ad{
	text-align: center;
}

div.sitead{
	text-align: center;
}

.socialdiv {
    position: relative;
    overflow: visible;
    top: 15px;
    float: left;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #e7e7e7;
}

.navbar {
    border-radius: 0px;
	border: 0px;
}

.navbar-toggle {
    background-color: #ddd;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
    text-shadow: 1px 1px #666;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}




@media only screen and (max-width: 1100px) {

	h1#appTitle{ font-size: 10rem; }
	div#timer{ font-size: 8.5rem; }

}

@media only screen and (max-width: 990px) {

	div#startStop{ margin-bottom: 20px; }

}


@media only screen and (max-width: 800px) {

	h1#appTitle{ font-size: 8rem; }
	div#timer{ font-size: 6.5rem; }

}


@media only screen and (max-width: 400px) {

	h1#appTitle{ font-size: 6rem; }
	div#timer{ font-size: 4.5rem; }

}
